<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temporary PDF Storage</title>
    <style link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></style>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('Documents') }}">Documents</a></li>
            <li><a href="{{ url_for('Text') }}">Text</a></li>

        </ul>
    </nav>
    
</body>
</html>